extends layout

block content

    .w3-container
        p(style="text-align:center;") Bem vindo, #{username}.
        p(style="text-align:center;")
            | <a href="/posts"> Lista todos posts</a>
        p(style="text-align:center;")
            | <a href="/cursos"> Lista cursos</a>

    .w3-container
        .w3-card
            p cenas
        .w3-card.w3-hover-shadow
            h1 TESTE
            p isto foi um grande teste
            p Aqui vão aparecer notícias de última hora #CMTV
    
