extends layout

block content

    .w3-container
        p(style="text-align:center;") Bem vindo, #{username}.
        p(style="text-align:center;")
            | <a href="/posts"> Lista todos posts</a>
        p(style="text-align:center;")
            | <a href="/cursos"> Lista cursos</a>
        p(style="text-align:center;")
            | <a href="/news"> Feed da CMTV</a>

    
    
