extends layout

block content
  .w3-card-4
    header.w3-container.w3-khaki
      h1= title
    p(style="text-align:center;") Welcome to #{title}
    p(style="text-align:center;")
      | <a href="/login"> Login</a>
      | or 
      | <a href="/signup"> Sign up</a>
