doctype html
html(lang="en")
  head
    title Login Collegify
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='stylesheets/loginstyle.css')
  body
    #main
      form(action="/users/login" method="POST")
        div.label login to collegify
        div.username
          input(type="text" placeholder="Username" name="username")
        div.password
          input(type="password" placeholder="Password" name="password")
        button(type="submit" name="loginbutton") Login
        button(type="button" name="resetbutton") Reset password
        p
          | not a member?
          a(href="/signup") Sign Up now
        p
          a(href="/") Back to Homepage