extends layout

block content
  .w3-card-4
    header.w3-container.w3-khaki
      h1 Login
    p(style="text-align:center;") This is the login page
    form(action="#")
      div.label Login Form
      div.username
        input(type="text" placeholder="username")
      div.password
        input(type="password" placeholder="password")
      div.checkbox
        input(type='checkbox' name='agreement' checked)
        |Remember me
      button(type="button") login
      h3 or login with
      div.social
        button(type="button") <i class="fa fa-facebook"></i>
        button(type="button") <i class="fa fa-google-plus"></i>
      p
      | not a member
      a(href="#") Sing Up now%