extends layout

block content
  .w3-container.w3-deep-orange
    h1.w3-bold Login
  .w3-container.w3-sand.w3-margin.w3-border.w3-center
    form.w3-container(action="/users/login" method="POST")
      p
      label.w3-bold Username
      input.w3-input.w3-border(name="name" type="text")
      p      
      label.w3-bold Password
      input.w3-input.w3-border(name="password" type="password")
      p
      button.w3-deep-orange(type="submit" name="loginbutton") Login
      button.w3-deep-orange(type="button" name="resetbutton") Reset password
  .w3-container.w3-deep-orange.w3-center
    p
    a.w3-margin(href="/login") Login
    a.w3-margin(href="/") Voltar a homepage
    p
