extends layout

block content
  .w3-card-4
    header.w3-container.w3-khaki
      h1 Collegify
    p(style="text-align:center;") Bem vindo, #{username}.
    p(style="text-align:center;")
      | <a href="/posts"> Lista posts</a>
      | or 
      | <a href="/users/logout"> Logout</a>
