extends layout

block content
  .w3-card-4
    header.w3-container.w3-khaki
      h3 Lista de Users
    if lista.length > 0
      .w3-container
        table(class="w3-table-all")
          tr
            th Username
            th Email
            th Name
            th Password
          each a in lista
            tr
              td
                a(href='/users/'+a._id) #{a.username}
              td= a.name
              td= a.email
              td= a.password
    else
      div(class="w3-container")
        p There are no users...
    div(class="w3-container w3-khaki")
      p
        a(href='/signup') Register new.
    div(class="w3-container w3-khaki")
      p
        a(href='/') Back to homepage.
    footer(class="w3-container w3-khaki")
      address Gerado por Collegify :: 2020