extends layout
block content
  .w3-card-4
  header.w3-container.w3-khaki
    h3 User apagado com sucesso.
  p
    a(href='/users') Lista de Users.
  p
    a(href='/signup') Registar novo User.
  footer(class="w3-container w3-khaki")
    address Gerado por Collegify :: 2020