extends layout

block content
  .w3-card-4
    if lista.length > 0
      .w3-container
        - var values = [];
        each val in lista
          -
            if(!values.includes(val.meta.ano) && val.meta.ano){
              values.push(val.meta.ano)
            }
        - values.sort();
        ul
          each val in values
            li
              a(href= path + '/ano/' + val) #{val}
    else
      div(class="w3-container")
        p Ainda não há anos...
block footer