extends layout

block content
  .w3-card-4
    if lista.length > 0
      .w3-container
        - var values = [];
        each val in lista
          -
            if(!values.includes(val.meta.curso) && val.meta.curso){
              values.push(val.meta.curso)
            }
        - values.sort();
        ul
          each val in values
            li
              a(href='/cursos/'+val) #{val}
    else
      div(class="w3-container")
        p Ainda não há cursos...
    
block footer