extends layout

block content
  .w3-card-4
    if lista.length > 0
      .w3-container
        - var values = [];
        each val in lista
          -
            if(!values.includes(val.meta.semestre) && val.meta.semestre){
              values.push(val.meta.semestre)
            }
        - values.sort();
        ul
          each val in values
            li
              a(href=path + '/semestre/' + val) #{val}
    else
      div(class="w3-container")
        p Ainda não há semestres...
block footer