extends ../layout
block content
  .w3-card-4
  header.w3-container.w3-khaki
    h3 Este post é privado...
  p
    a(href='/') Homepage.
  p
    a(href='/posts') Lista de Posts.
  .w3-container.w3-deep-orange.w3-center
    p
    a.w3-center.w3-padding.w3-margin Gerado por Collegify :: 2020
    p