extends ../layout

block content
    .w3-container.w3-sand.w3-margin.w3-border
      form.w3-container(action="/posts/upload" method="POST" enctype="multipart/form-data" id="form-upload")
        p
        label.w3-bold Título
        input.w3-input.w3-border(name="title" type="text")
        p      
        label.w3-bold Subtitle
        input.w3-input.w3-border(name="subtitle" type="text" placeholder="Subtitle")
        p      
        label.w3-bold Descrição
        input.w3-input.w3-border(name="description" type="text" placeholder="Description")
        p      
        label.w3-bold Curso
        input.w3-input.w3-border(name="curso" type="text" placeholder="Curso")
        p
        label.w3-bold Ano
        input.w3-input.w3-border(name="ano" type="text" placeholder="Ano")
        p
        label.w3-bold Semestre
        input.w3-input.w3-border(name="semestre" type="text" placeholder="Semestre")
        p
        label.w3-bold Unidade Curricular
        input.w3-input.w3-border(name="cadeira" type="text" placeholder="UC")
        p
        label Tipo de Post
          select(name="type").w3-input.w3-border
            option(value="Relatório" selected) Relatório
            option(value="Tpc") Tpc
            option(value="Artigo") Artigo
            option(value="Tese") Tese
            option(value="Aplicação") Aplicação
            option(value="Slides") Slides
            option(value="Teste") Teste
        p
        label Público
          input.w3-margin(name="visibility" type="radio" value="Público" checked)
        label Privado
          input.w3-margin(name="visibility" type="radio" value="Privado")  
        p
        label.w3-bold Tags
        input.w3-input.w3-border(name="tags" type="text" placeholder="Tags")
        p
        input(class="w3-input w3-border w3-light-grey" type="file" name="myFile")
        .w3-padding
          button.w3-deep-orange.w3-round-xxlarge.w3-margin(type="submit") Upload
    .w3-container.w3-deep-orange.w3-center
      a.w3-btn.w3-hover-orange.w3-sand.w3-round-xxlarge.w3-margin(href="/posts") Voltar ao Posts
      a.w3-center.w3-padding Gerado por Collegify :: 2020
      a.w3-btn.w3-hover-orange.w3-sand.w3-round-xxlarge.w3-margin(href="/") Voltar a homepage



